
header {
    overflow: hidden;
}

#top-header {
    text-align: center;
    height: 60px;
}

#logo {
    float: left;
    padding: 0;
    margin: 0;
    height: 60px;
    width: 13%;
}

#logo img {
    width: 60%;
    float: left;
    padding: 0px 0px;
}

#menu {
    float: right;
    width: 70%;
    height: 100%;
}

#menu ul {
    text-align: center;
    float: right;
    background: #0074D9;
	border-radius: 5px;
}

#menu li {
    display: inline-block;
}

#menu li a, #menu li span {
    display: inline-block;
    padding: 0em 1.5em;
    text-decoration: none;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 60px;
}

#menu li a {
    color: #FFF;
}

#menu li:hover a, #menu li span {
    background: #FFF;
    color: #0074D9;
    border-left: 1px solid #0074D9;
    text-decoration: none;
}
