<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<header>
    <link rel="stylesheet" href="~/css/header.css" />
    <div id="top-header">
        <div id="logo">
            <img src="~/lib/Images/Logo.png" />
        </div>
        <nav>
            <div id="menu">
                <ul>
                    <li class="active"><a href="Index">Home</a></li>
                    <li><a href="Medikament">Medikamente</a></li>
                    <li><a href="Login">Login</a></li>
                </ul>
            </div>
        </nav>
    </div>   
    <div id="header-image-menu">
    </div>
</header>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>
