@page
@model robodoc.frontend.Pages.IndexModel
@{
    Layout = "_Layout";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Welcome</title>
</head>
<body>
    <h1>Robodoc welcomes you</h1>
</body>
</html>