@page
@model robodoc.frontend.Pages.RoboModel
@{
    Layout = "_Layout";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Roboter</title>
</head>
<body>
<h1>Roboter</h1>
<div class="container">
    <td><input type="button" value="Start Roboter"/></td>
</div>
</body>
</html>
