@page
@model robodoc.frontend.Pages.TherapieModel
@{
    Layout = "_Layout";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Therapien</title>
</head>
<body>
    <h1>Therapien</h1>
    <div class="container">
        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Medikamente</th>
                </tr>
            </thead>
            <tbody id="data" contenteditable="true" spellcheck="false">
                @foreach (var item in @Model.therapien)
                {
                    <tr>
                        <td>@Html.DisplayFor(medi => item.id)</td>
                        <td>@Html.DisplayFor(medi => item.name)</td>
                        <td>
                            @foreach (var mt in item.medikamentTherapies)
                            {
                                @Html.DisplayFor(t => mt.medikamentId)
                                <br />
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</body>
</html>